body {
	background: url("steph-background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("steph-background-mobile.jpg");
  }
}

/*Remove margins, add background color*/
.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* List items side by side */
.navbar li {
	float: left;
}

.navbar li a {
    display: inline-block;
    color: #ffccff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-style: bold;
}

/* Change background color of links on hover */
.navbar li a:hover {
	background-color: #555;
}

/* Hide the list item that contains the link that should open and close the navbar on small screens */
ul.navbar li.icon {
	display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the navbar (li.icon) */
@media screen and (max-width:680px) {
  ul.navbar li:not(:first-child) {display: none;}
  ul.navbar li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens */
@media screen and (max-width:680px) {
  ul.navbar.responsive {position: relative;}
  ul.navbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbar.responsive li {
    float: none;
    display: inline;
  }
  ul.navbar.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.navbar li:last-child a {
  border-right: none;
}
/* projectss */
ul.projects {
	list-style-type: none;
	position: absolute;
	z-index: 200;
	box-shadow: 2px 2px 0 #BEBEBE;
	width: 35%;
	display:none;
}

ul.projects li {
  float: none;
  margin: 0;
}

ul.projects li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 5px;
}

ul.projects li:last-child a {
  border-bottom: none;
}


/* projects display*/
ul.navbar li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.navbar li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.navbar li:hover > a{
  color: #000;
} 


.name {
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	margin: auto;
	width: 290px;
	height: 50px;

	background-color: #333;
	padding: 20px 20px;
	font-size: 35px;
	font-style: bolder;
	color: #ffccff;
	border-style: solid;
	
}



